<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="/skin/css/app.css?v=1" media="all" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/skin/css/tooltipster.css" />
        <title>
            {% block title %}MageHero | Awesome Magento Developers{% endblock %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.tooltipster.js"></script>
        <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
	{% if profile_json %}
	    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	    <link rel="stylesheet" type="text/css" href="/js/jquery.latLngPicker/css/jquery-gmaps-latlon-picker.css" media="all"/>
	    <script type="text/javascript" src="/js/jquery.latLngPicker/js/jquery-gmaps-latlon-picker.js"></script>
	{% endif %}
    {% endblock %}
</head>
<body>
{% if local_config.getHellobarEnabled() %}
    <div class="hellobar">
        <div class="hellobar-inner">
            <a href="{{ local_config.getHellobarUrl() }}">{{ local_config.getHellobarMessage() }}</a>
        </div>
    </div>
{% endif %}


<div class="wrapper">
    <div class="account">
        <a href="/">Developers</a> |
        <a href="/posts">Posts</a> |
        {% if session.github_username %}
            <a href="/profile">{{ session.github_username }}</a> |
            <a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a>
        {% else %}
            <a href="/login"><i class="fa fa-sign-in"></i> Login</a>
        {% endif %}
    </div>
    {% block masthead %}
        <div class="masthead">
            <h1>MageHero</h1>
            <p>Awesome Magento Developers</p>
        </div>
    {% endblock %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</div>
<div class="footer">
    <a href="https://github.com/kalenjordan/magedevs#frequently-asked-questions">Frequently asked questions</a>
    |
    <a href="/map">World Map</a>
</div>

<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({
            delay: 0
        });
    });
</script>

{% if local_config.getGoogleAnalyticsUa() %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ local_config.getGoogleAnalyticsUa() }}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}

</body>
</html>

