{% extends 'base.html.twig' %}

{% block additional_head %}

    <link type="text/css" rel="stylesheet" href="/skin/js/leaflet/leaflet.css"/>
    <link type="text/css" rel="stylesheet" href="/skin/js/leaflet/plugins/leaflet.markercluster/MarkerCluster.css"/>
    <link type="text/css" rel="stylesheet"
          href="/skin/js/leaflet/plugins/leaflet.markercluster/MarkerCluster.Default.css"/>
    <link type="text/css" rel="stylesheet" href="/skin/css/map.css"/>

{% endblock %}

{% block content %}

    <div id="map"></div>

{% endblock %}

{% block before_body_end %}
    <script type="text/javascript" src="/skin/js/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/skin/js/leaflet/plugins/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script type="text/javascript" src="/skin/js/map.js"></script>
{% endblock %}
