{% extends 'base.html.twig' %}

{% block content %}
    <form action="{{ post.getEditUrl() }}" method="POST" class="post-edit">
        {% include 'fragment/post_form.html.twig' %}
    </form>
{% endblock %}
