{% extends 'base.html.twig' %}

{% block content %}
    <ul class="listing">
        {% for post in posts %}
            {% if post.getCreatedAtDate().format('Y-m-d') != lastPost.getCreatedAtDate().format('Y-m-d') %}
                <h2>{{ post.getCreatedAtDate().format('D, M j') }}</h2>
            {% endif %}
            <li class="listing-post">
                {% include 'fragment/post.html.twig' with { 'hideTags': true } %}
            </li>
            {% set lastPost = post %}
        {% endfor %}
    </ul>
{% endblock %}
