{% extends 'base.html.twig' %}

{% block title %}Posts | MageHero{% endblock %}

{% block content %}
    <div class="posts-wrapper">
        {% for post in posts %}
            {% include 'fragment/post.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
