{% extends 'base.html.twig' %}

{% block content %}
    <ul class="listing">
        <h2>This Week</h2>
        {% for post in posts_this_week %}
            <li class="listing-post">
                {% include 'fragment/post.html.twig' with { 'hideTags': true } %}
            </li>
            {% set lastPost = post %}
        {% endfor %}
        <h2>Last Month</h2>
        {% for post in posts_last_week %}
            <li class="listing-post">
                {% include 'fragment/post.html.twig' with { 'hideTags': true } %}
            </li>
            {% set lastPost = post %}
        {% endfor %}
    </ul>
{% endblock %}
