{% extends 'base.html.twig' %}

{% block content %}
    <form action="/magedevs/profile" method="POST">
        <label for="profile" class="profile">Your Profile</label>
        <textarea name="profile" class="profile">{{ profile_json }}</textarea>
        <div>
            <input type="submit" value="Save">
        </div>
        <div>
            <p>
                Want to see what variables are available?  See a 
                <a target="_blank" href="/magedevs/sample.json">sample JSON file</a>.
            </p>

        </div>
    </form>
{% endblock %}