{% extends 'base.html.twig' %}

{% block content %}

    <h2>Search results for {{ term }}</h2>

    <ul class="listing">
        {% for post in posts %}
            <li class="listing-post">
                {% include 'fragment/post.html.twig' %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
