{% extends 'base.html.twig' %}

{% block title %}{{ user.getName() }} | MageHero{% endblock %}

{% block content %}

    <h2>{{ user.getName() }}</h2>

    {%  if user.imageUrl() %}
        <div class="image-wrapper user-thumbnail">
            <a href="{{ user.getUrl() }}">
                <img class="lazyload" data-src="{{ user.imageUrl() }}" >
            </a>
        </div>
    {% endif %}

    <ul class="listing">
        {% for post in posts %}
            <li class="listing-post">
                {% include 'fragment/post.html.twig' with { 'hideImage': true } %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
