{% extends 'base.html.twig' %}

{% block pre_header %}
    <div class="pre-header">
        <a href="/"><i class="fa fa-shield logo"></i></a>
    </div>
{% endblock %}

{% block masthead %}
    <div class="masthead">
        <img class="lazyload" data-src="{{ user.imageUrl() }}" >
        <h1>{{ user.getName }}</h1>
    </div>
{% endblock %}

{% block content %}
    <ul class="listing">
        {% for post in posts %}
            <li class="listing-post">
                {% include 'fragment/post.html.twig' with { 'hideImage': true } %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
