{% extends 'base.html.twig' %}

{% block content %}
    <!--
    <h2>Magento Developers
       <span class="filter"><a href="/?availability=available">show available developers</a></span>
    </h2>
    -->
    <ul class="listing">
        {% include 'fragment/user_list.html.twig' %}
    </ul>
    <div class="load-more">
        <a href="javascript://">Load More</a>
    </div>
{% endblock %}
