<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /magedevs/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /magedevs/index.php [L]
</IfModule>
