.post-upvote,
.user-info,
.user-thumbnail,
.post-info {
    display: inline-block;
    vertical-align: middle;
}

.user-info {
    font-size: 23px;
    padding-top: 10px;

    .image-wrapper {
        position: relative;

        img {
            width: 34px;
        }

        .fa.fa-newspaper-o {
            position: absolute;
            top: 25px;
            left: 28px;
            font-size: 14px;
        }
    }
}



.user-thumbnail {
    max-width: 40px;
}

.post-upvote {
    margin: 0 1em 0 0;
    text-align: center;
    float: left;
    &.without-upvote-button {
        padding-top: 0.5em;
    }
}

.post-info {
    float: left;
    padding-top: 0.5em;
}

.user-info {
    float: right;
    .fa {
        vertical-align: middle;
        padding-right: 0.25em;
        color: rgb(192, 190, 190);
        font-size: 1.1em;
    }
}

.availability {
    display: inline-block;
    text-align: center;

    &.available {
        .fa {
            color: green;
        }
    }

    &.not-available {
        .fa {
            color: rgb(197, 197, 197);
        }
    }
}

.fa {
    display: block;
    text-align: center;
}

.post-upvote-wrapper {
    display: block;
    margin-top: -9px;
    margin-bottom: -2px;
}

.post-vote-count-wrapper {
    display: block;
    float: left;
    height: 24px;
    position: relative;
    width: 24px;
    font-weight: bold;
}


.posts-wrapper {
    .share {
        text-align: center;
        margin-bottom: 1em;
    }
}

.post {

    .ranking {
        position: absolute;
        top: 7px;
        left: 7px;
    }

    .tags {
        .tag {
            padding: 0.5em;
        }
    }

    .post-body {


        img {
            width: 90%;
            padding: 5%;
        }
    }
}

.post-edit {
    .input-wrapper {
        margin-bottom: 1em;

        label {
            display: block;
        }

        .input-field {
            width: 500px;
        }

        .textarea {
            width: 500px;
            height: 400px;
        }
    }
}
