{% extends 'base.html.twig' %}

{% block content %}
    <form action="/profile" method="POST">
        <label for="profile" class="profile">Your Profile</label>
        <textarea name="profile" class="profile">{{ profile_json }}</textarea>
        <div>
            Want to be visible?
            &nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="is_active" value="1" {% if is_active == 1 %}checked{% endif %}/> Yes :)</label>
            &nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="is_active" value="0" {% if is_active == 0 %}checked{% endif %}/> No :(</label>
        </div>
        <div>
            <input type="submit" value="Save">
        </div>
        <div>
            <p>
                Want to see what variables are available?  See a
                <a target="_blank" href="/sample.json">sample JSON file</a>.
            </p>

        </div>
    </form>
{% endblock %}