.hellobar {
    background-color: #e3472f;
    text-align: center;
    top: 0;
    width: 100%;
    margin: 0;

    .hellobar-inner {
        padding: 1em;
        a {
            color: white;
        }
    }
}