table.listing {
    width: 100%;

    border-spacing: 0;
    border-collapse: separate;

    tr {
        &:nth-child(odd) {
            background-color: rgb(229, 229, 229);
        }
        &:nth-child(even) {
            background-color: rgb(242, 242, 242);
        }
        &:hover {
            background-color: #FEFFDA;
        }
        &.selected {
            background-color: #FEFFDA;
        }
    }

    th, td {
        padding: 0.5em;
        text-align: left;
    }

    .headerSortDown, .headerSortUp {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .headerSortDown::after {
        content: "\f0d8";
        padding-left: 5px;
    }

    .headerSortUp::after {
        content: "\f0d7";
        padding-left: 5px;
    }

    th.sortable {
        color: blue;
        &:hover {
            cursor: pointer;
        }
    }

    .fa {
        margin-left: 0.25em;
    }

    .image-wrapper {
        max-width: 40px;
    }

    .last-updated {
        font-size: 12px;
    }

    .vote-count {
        display: none;
    }

    .disqus-comment-count {
        display: block;
        font-size: 0.8em;
    }
}