.masthead {
    position: relative;

    h1 {
        @include rem(font-size, 35px);
    }

    a {
        color: $orange;

        &:hover {
            text-decoration: none;
        }
    }

    i {
        color: $grey;
        font-size: 1.3em;
        padding: 0 0.2em;
        position: relative;
        top: 0.1em;
    }
}

@include modular-bp(450px) {
    .masthead {

        h1 {
            @include rem(font-size, 48px);
        }
    }
}