.masthead {
    position: relative;

    h1 {
        @include rem(font-size, 35px);
    }

    a {
        color: $orange;

        &:hover {
            text-decoration: none;
        }
    }

    i {
        color: $grey;
        font-size: 1.3em;
        position: relative;
        top: 0.1em;
        width: 50px;
    }
}

@include modular-bp(450px) {
    .masthead {

        h1 {
            @include rem(font-size, 48px);
        }

        i {
            width: 75px;
        }
    }

}