.search {
    font-size: 0.8em;

    .search-form {
        display: none;
    }

    button {
        padding: .33em 1em;
        margin-top: 0.92em;
    }
}

.account {
    font-size: 0.9em;

    .user-thumbnail {
        max-width: 30px;
    }

}

@include modular-bp(450px) {

    .search {
        .search-form {
            display: inline-block;
        }
    }
}