.all-time {
    font-size: 12px;
}

.listing-post {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.post-upvote-wrapper {
    cursor: default;

    .post-upvote-link .fa {
        font-size: 22px;
        color: black;
        &:hover {
            color: $orange;
        }
    }
}

.post-vote-count-wrapper {
    background-color: $orange;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    .post-vote-count {
        cursor: default;
        position: absolute;
        left: 8px;
        font-size: 13px;
        color: white;
    }

}

.post-info {
    .last-updated {
        color: $darkGrey;
        font-size: 0.8em;
        white-space: nowrap;
    }

    a {
        color: $black;
        font-weight: 400;
    }
}