label.profile {
    display: block;
}

.profile-view {
    .header {
        .image-wrapper {
            max-width: 12em;
            margin-left: auto;
            margin-right: auto;

            img {
                border-radius: 50%;
            }
        }
    }

    .about {
        text-align: center;
    }
}

.user-thumbnail {

    img {
        border-radius: 50%;
    }
}

textarea.profile {
    width: 100%;
    height: 400px;
    font-size: 16px;
    line-height: 22px;
    font-family: "courier new";
}

.profile-map {
    margin-top: 0.6em;
    width: 100%;
    height: 250px;
}

.user-profile {
    .pre-header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 189px;
        background-color: $orange;

        .logo {
            font-size: 37px;
            padding: 16px;
        }
    }

    .masthead {
        img {
            border-radius: 50%;
            max-width: 300px;
        }
    }

    .search {
        display: none;
    }

    .account {
        display: none;
    }
}