{
    "base_url": "",
    "github_api_key": "",
    "github_api_secret": "",
    "db_name": "magehero",
    "db_username": "root",
    "db_password": "root",
    "db_hostname": "localhost",
    "rank_meh_minimum_votecount": 0,
    "rank_star_minimum_votecount": 1,
    "rank_rocket_minimum_votecount": 5,
    "disqus_shortname": "magehero",
    "twitter_consumer_api_key" : "",
    "twitter_consumer_api_secret" : "",
    "twitter_oauth_access_token" : "",
    "twitter_oauth_access_token_secret" : ""
}
