{
    "base_url": "http://local.magehero.com",
    "github_api_key": "1c9dfd8fad0bad9aefb1",
    "github_api_secret": "",
    "db_name": "magehero",
    "db_username": "root",
    "db_password": "root"
}
