{
    "base_url": "",
    "db_name": "magehero",
    "db_username": "root",
    "db_password": "root",
    "db_hostname": "localhost",
    "disqus_shortname": "magehero",
    "github_api_key": "",
    "github_api_secret": "",
    "google_analytics_ua": "",
    "hellobar_enabled": "",
    "hellobar_message": "",
    "hellobar_url": "",
    "hide_exceptions": 0,
    "posting_minimum_votecount": 1,
    "rank_meh_minimum_votecount": 0,
    "rank_rocket_minimum_votecount": 5,
    "rank_star_minimum_votecount": 1,
    "recent_time_period": "30 DAY",
    "twitter_consumer_api_key" : "",
    "twitter_consumer_api_secret" : "",
    "twitter_oauth_access_token" : "",
    "twitter_oauth_access_token_secret" : ""
}
