#map{width:100%;height:500px}
.leaflet-popup-content-wrapper,.leaflet-popup-tip{background:#f7f7f7}
.leaflet-control-geoloc{display:block;width:15px;height:15px;background-image:url(/skin/img/location.png);-webkit-border-radius:5px;border-radius:5px}
.leaflet-popup-content .hero{text-align:center;margin-left:auto;margin-right:auto;font-size:14px}
.leaflet-popup-content .hero .header{font-size:18px;color:#0078A8}
.leaflet-popup-content .hero .social a{margin:0 .3em}