html,
body {
    background: #FFF;
    font: 300 16px/25px $opensans;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

// HTML5 responsive video //
video {
    height: auto !important;
    width: 100% !important;
}

// Basic responsive imagery //
img {
    height: auto !important;
    max-width: 100%;
    vertical-align: middle;
}

// Interactions should have pointer //
label,
a,
button,
select,
input[type="submit"] {
    cursor: pointer;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

h1 {
    @include rem(font-size, 30px);
    font-weight: 700;
    line-height: 1.17;
}

h2 {
    @include rem(font-size, 24px);
    font-weight: 300;
    line-height: 1.3;
}

h3 {
    @include rem(font-size, 20px);
    line-height: 1.4;
}

h4 {
    @include rem(font-size, 16px);
    line-height: 1.4;
}

h5 {
    @include rem(font-size, 16px);
}

h6 {
    @include rem(font-size, 16px);
}


q {

}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


a {
    color: $darkGrey;
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &:active {

    }
}


form {

}

legend {
    @include rem(font-size, 18px);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {

}

.button,
button,
input[type="button"],
input[type="submit"] {
    background: $orange;
    border: 0;
    border-radius: 0;
    color: #FFF;
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em 1em;

    &:hover {
        background: $grey;
        text-decoration: none;
    }
}

select {
    width: 100%;
}

optgroup {

}

button {

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl {

}

dd {
    margin: 0;

}

dt {

}


p {

}

figure {

}

figcaption {

}

blockquote {

}

hr {

}


q {

}

abbr {
    cursor: help;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


table {

}

caption {

}

th {

}

td {

}

iframe {
    border: 0;
}