// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 16px;
$base-line-height: 20px;

// Common breakpoints
// ------------------------------------------------

// Colour palette
// ------------------------------------------------
$orange: #ef672f;
$grey: #aaaaaa;
$darkGrey: #666666;

// Fonts
// ------------------------------------------------
$opensans: 'Open Sans', Arial, sans-serif;