body {
    background-color: rgb(237, 236, 236);
    font-family: arial;
}

body, h1 {
    margin: 0;
    padding: 0;
}

.hellobar {
    background-color: #e3472f;
    text-align: center;
    top: 0;
    width: 100%;
    margin: 0;

    .hellobar-inner {
        padding: 1em;
        a {
            color: white;
        }
    }
}

.wrapper {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 1em;
}

.account {
    position: absolute;
    top: 1em;
    right: 1em;
}

.masthead {
    text-align: center;
    margin-bottom: 2em;

    h1 {
        padding-top: 1em;
        margin-bottom: 0.25em;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

.image-wrapper img {
    width: 100%;
}

.about {
    margin-bottom: 3em;
    font-size: 12px;
    text-align: center;
}

table.listing {
    width: 100%;

    border-spacing: 0;
    border-collapse: separate;

    tr {
        &:nth-child(odd) {
            background-color: rgb(229, 229, 229);
        }
        &:nth-child(even) {
            background-color: rgb(242, 242, 242);
        }
        &:hover {
            background-color: #FEFFDA;
        }
        &.selected {
            background-color: #FEFFDA;
        }
    }

    th, td {
        padding: 0.5em;
        text-align: left;
    }

    .headerSortDown, .headerSortUp {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .headerSortDown::after {
        content: "\f0d8";
        padding-left: 5px;
    }

    .headerSortUp::after {
        content: "\f0d7";
        padding-left: 5px;
    }
    
    th.sortable {
        color: blue;
        &:hover {
            cursor: pointer;
        }
    }

    .fa {
        margin-left: 0.25em;
    }

    .image-wrapper {
        max-width: 40px;
    }

    .last-updated {
        font-size: 12px;
    }

    .vote-count {
        display: none;
    }
}

.fa.fa-rocket {
    color: rgb(232, 105, 14);
}

.fa.fa-star {
    color: rgb(223, 191, 30);
}

label.profile {
    display: block;
}

.profile-view {
    .header {
        .image-wrapper {
            max-width: 12em;
            margin-left: auto;
            margin-right: auto;

            img {
                border-radius: 50%;
            }
        }
    }

    .about {
        text-align: center;
    }
}

.image-wrapper.user-thumbnail {
    img {
        border-radius: 50%;
    }
}

.posts-wrapper {
    .share {
        text-align: center;
        margin-bottom: 1em;
    }
}

.post {
    width: 28em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    overflow: hidden;
    padding: 1em;
    position: relative;

    .ranking {
        position: absolute;
        top: 7px;
        left: 7px;
    }

    &:nth-child(odd) {
        background-color: rgb(229, 229, 229);
    }
    &:nth-child(even) {
        background-color: rgb(242, 242, 242);
    }

    .image-wrapper.user-thumbnail {
        width: 16%;
        float: left;
        margin-right: 4%;
    }

    .subject {
        float: left;
        width: 79%;
        margin-bottom: 0.5em;
        padding-top: 1em;
        font-size: 18px;
    }

    .tags {
        .tag {
            padding: 0.5em;
            font-size: 12px;
            color: rgb(153, 153, 153);
        }
    }

    .post-body {
        clear: both;
        margin-top: 2em;
        margin-bottom: 1em;

        img {
            width: 90%;
            padding: 5%;
        }
    }
}



textarea.profile {
    width: 100%;
    height: 400px;
    font-size: 16px;
    line-height: 22px;
    font-family: "courier new";
}

.footer {
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
}

